.center {
    margin: auto;
    width: 370px;
    padding-top: 10em;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    display: block;
    margin: 1.5em;
}