li:hover {
    color: darkred;
    cursor: pointer;
}

li:active {
    color: red;
}

.CenterAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.CenterText {
    text-align: center;
}